[Desktop Entry]
Name=MovieManager
Name[ast]=MovieManager
Name[bg]=MovieManager
Name[bs]=MovieManager
Name[ca]=MovieManager
Name[ca@valencia]=MovieManager
Name[cs]=MovieManager
Name[da]=MovieManager
Name[de]=MovieManager
Name[el]=MovieManager
Name[en_GB]=MovieManager
Name[eo]=MovieManager
Name[es]=MovieManager
Name[et]=MovieManager
Name[fi]=MovieManager
Name[fr]=MovieManager
Name[ga]=MovieManager
Name[gl]=MovieManager
Name[hu]=MovieManager
Name[it]=MovieManager
Name[ja]=MovieManager
Name[kk]=MovieManager
Name[km]=MovieManager
Name[ko]=MovieManager
Name[lv]=MovieManager
Name[nb]=MovieManager
Name[nds]=MovieManager
Name[nl]=MovieManager
Name[nn]=MovieManager
Name[pa]=MovieManager
Name[pl]=MovieManager
Name[pt]=MovieManager
Name[pt_BR]=MovieManager
Name[ro]=MovieManager
Name[ru]=MovieManager
Name[sq]=MovieManager
Name[sr]=MovieManager
Name[sr@ijekavian]=MovieManager
Name[sr@ijekavianlatin]=MovieManager
Name[sr@latin]=MovieManager
Name[sv]=MovieManager
Name[tr]=MovieManager
Name[ug]=MovieManager
Name[uk]=MovieManager
Name[x-test]=xxMovieManagerxx
Name[zh_CN]=MovieManager
Name[zh_TW]=MovieManager
Exec=moviemanager %i -caption "%c"
Icon=moviemanager
Type=Application
X-DocPath=moviemanager/index.html
GenericName=A KDE4 Application
GenericName[ast]=Una aplicación de KDE4
GenericName[bg]=Програма за KDE4
GenericName[bs]=KDE4 aplikacija
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[kk]=KDE4 қолданбасы
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sq]=Një Program KDE 4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[ug]=ك د ئې(KDE) 4 پروگراممىسى
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
